@import url('https://fonts.googleapis.com/css?family=Comfortaa|Source+Code+Pro');

body, html {
  font-family: 'Comfortaa', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.spacer {
  margin: 4rem 0;
}
